# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle Docker

on:
  push:
    branches: [ "develop" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ARM64

    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.SUB_TOKEN }}
          submodules: true

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Docker build
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -t ${{ secrets.DOCKER_REPO }}/tikitakaDev -f Dockerfile.dev .
          docker push ${{ secrets.DOCKER_REPO }}/tikitakaDev

      - name: Deploy
        run: |
          docker stop tikitaka-dev || true
          docker rm -f tikitaka-dev || true
          docker rmi $(docker images -f "dangling=true" -q) || true
          docker pull ${{ secrets.DOCKER_REPO }}/tikitakaDev:latest
          docker run -v /var/log/serviceDev:/var/log/service -v /var/uploadDev:/var/upload -e GOOGLE_APPLICATION_CREDENTIALS=/var/upload/key/google_ocr_key.json --name tikitaka-dev -p 8081:8080 --network=tikitaka-dev-net -d --restart unless-stopped ${{ secrets.DOCKER_REPO }}/tikitakaDev:latest